@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@600&family=Palanquin+Dark:wght@700&family=Palanquin:wght@500&display=swap');

body{
    background-color: #1e130b;
}

h4{
    font-family: 'Overpass Mono', monospace;
    color:#d54864;
    margin: 0;
}

h1{
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 64px;
    color:#eeded3;
    margin: 0;
}

h3{
        font-family: 'Palanquin Dark', sans-serif;
        color:#E9D3C4;
        margin: 0;
        font-size: 30px;
}

h6{
    font-family: 'Overpass Mono', monospace;
    color:#d54864;
    margin: 10px 0;
    font-size: 16px;
}

p{
    font-family: 'Palanquin', sans-serif;
    color: #debda6;
    margin: 0;
}

a{
    text-decoration: none;
}

ol{
    list-style: none;
    counter-reset: my-awesome-counter;
}

ol li{
    counter-increment: my-awesome-counter;
}

ol li::before {
    content: "0" counter(my-awesome-counter) ". ";
    color: #d54864;
    font-family: 'Overpass Mono', monospace;
  }

button{
    padding: 10px;
    border: 2px solid #d54864;
    background: none;
    font-family: 'Overpass Mono', monospace;
    font-size: 16px;
    display: inline-block;
}

button a{
    color:#d54864;
}

hr{
    width: 7cm;
    display: inline-block;
    margin-left: 10px;
    background-color: #debda6;
    border: none;
    height: 1px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #2D1D11;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(222, 189, 166, 0.8);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(222, 189, 166, 0.5);
  }

header ol{
    display: flex;
    flex-wrap: wrap;
    align-items: right;
    justify-content: right;
}

header li{
    display: flex;
    flex-wrap: wrap;
    margin: 0 10px;
    padding: 0 10px;
    font-family: 'Overpass Mono', monospace;
}

header li a{
    color: #eeded3;
}

header button{
    margin-left: 20px;
}

.left-sidebar{
    height: fit-content; /* Full-height: remove this if you want "auto" height */
    width: fit-content; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    bottom: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
  padding-bottom: 20px;
  text-align: center;
  padding-left: 40px;
}

#social-links{
    text-align: center;
    bottom: 0;
    display: block;
}

#social-links ul {list-style: none; padding-left:0; padding-bottom:0;} li {display: block; padding-bottom: 16px;}

#social-links img{
    width: 24px;
    height: 24px;
}

.main-page {
    margin-left: 160px; /* Same as the width of the sidebar */
    margin-right: 160px;
    padding: 0px 10px;
  }

.right-sidebar{
    height: fit-content;
    width: fit-content;
    position: fixed;
    bottom: 0;
    right: 0;
    overflow-x: hidden;
    padding-bottom: 20px;
    padding-right: 40px;
}

.right-sidebar2{
    padding-bottom: 20px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-align: center;
}

.right-sidebar a{
    color: #debda6;
    font-family: 'Overpass Mono', monospace;
}

.vl {
    border-left: 1px solid #debda6;
    height: 200px;
    display: inline-block;
}

.about-me{
    padding-top: 80px;
    display: flex;
}

.about-me-text{
    flex: 1;
}

.about-me-text a{
    text-decoration: underline;
    color:#d54864;
}

.about-me-pic{
    flex: 1;
    height: 50%;
    vertical-align: middle;
    padding-left: 20px;
}

.clubs-and-experience{
    padding-top: 80px;
    margin-right: 250px;
    float: right;
}

/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    height: 100%;
    overflow: auto;
    float: left;
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: #debda6;
    padding: 16px;
    text-decoration: none;
    font-family: 'Overpass Mono', monospace;
  }
  
  /* Active/current link */
  .sidebar a.active {
    background-color: rgb(222, 189, 166, 0.1);
    color: #d54864;
    border-left: 5px solid #d54864;;
  }
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color: rgb(222, 189, 166, 0.1);
    color: #d54864;
  }
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    margin-left: 210px;
    padding: 1px 16px;
    height: 400px;
  }
  
  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }

  .projects a img{
    width: 24px;
    height: 24px;
    margin-left: 15px;
  }

  .project{
      display: flex;
      margin-top: 30px;
  }

  .project-text{
      flex: 1;
      padding-top: 15px;
      vertical-align: middle;
  }

  .project-pic{
      flex: 1;
      width: 95%;
      position: relative;
  }

  .hover-text{
      position: absolute;
      top: 0;
      left: 0;
      padding-top: 8px;
      padding-left: 8px;
      transition: .5s ease;
      background-color: rgb(30, 19, 11, 0.9);
      height: 100%;
      opacity: 0;
  }
  
  .project-pic:hover .hover-text {
    opacity: 1;
    z-index: 3;
  }
    
  .project-pic img{
      width: 100%;
     height: 340px;
     z-index: 1;
  }

  .project-text-right{
      text-align: right;
  }

  .project-text-left{
      text-align: left;
  }

  .project-text-right .project-details{
      z-index: 2;
      position: absolute;
      right: 160px;
      width: 50%;
  }

  .project-details p{
    background-color:#d54864;
    padding: 10px;
  }

  .project-text-right .project-details p{
    padding-right: 20px;
  }

  .project-text-left .project-details p{
      padding-left: 20px;
  }

  .project-text-left .project-details{
    z-index: 2;
    position: absolute;
    left: 215px;
    width: 50%;
}

.awards-and-acheivements{
    padding-top: 4%;
}

.awards-icons img{
    height: 180px;
    width: 140px;
    margin-right: 210px;
    margin-bottom: 0;
}

.awards-shelf{
    margin-top: 35px;
}

.trophy{
    position: relative;
    display: inline;
}

.trophy-hover-text{
    position: absolute;
    left: 160px;
    padding: 8px;
    transition: .5s ease;
    background-color:rgb(213, 72, 100, 0.5);
    height: 180px;
    width: 160px;
    overflow: auto;
    display: inline;
    opacity: 0;
}

.trophy:hover .trophy-hover-text{
    opacity: 1;
}

.grad-cap{
    position: relative;
    display: inline;
}

.cap-hover-text{
    position: absolute;
    left: 160px;
    padding: 8px;
    transition: .5s ease;
    background-color:rgb(213, 72, 100, 0.5);
    height: 180px;
    width: 160px;
    overflow: auto;
    display: inline;
    opacity: 0;
}

.grad-cap:hover .cap-hover-text{
    opacity: 1;
}

.money{
    position: relative;
    display: inline;
}

.money-hover-text{
    position: absolute;
    left: 160px;
    padding: 8px;
    transition: .5s ease;
    background-color:rgb(213, 72, 100, 0.5);
    height: 180px;
    width: 160px;
    overflow: auto;
    display: inline;
    opacity: 0;
}

.money:hover .money-hover-text{
    opacity: 1;
}

.awards-shelf hr{
    width: 100%;
    float: top;
    margin-left: 10px;
    margin-top: 10px;
    background-color: rgb(222, 189, 166, 0.5);
    border: none;
    height: 10px;
}

.award-hover::-webkit-scrollbar {
    width: 7px;
  }

  .contact-me{
      text-align: center;
      padding-top: 6%;
  }

 .contact-me ul{
      list-style-type: disc;
      text-align: left;
      padding-left: 35%;
      padding-top: 3%;
  }

 .contact-me ul li::before {
    content: "\2022";
    color: #d54864;
    font-weight: bold;
    display: inline-block;
  }

  .contact-me ul li{
    font-family: 'Palanquin', sans-serif;
    color: #debda6;
    padding: 0;
  }

  form{
      text-align: left;
  }

  .contact-form{
    background-color: rgb(222, 189, 166, 0.1);
    border: 1px solid rgb(222, 189, 166, 0.1);
    border-radius: 4px;
    padding: 10px;
    padding-top: 0;
    margin-top: 4%;
  }

  form label{
    font-family: 'Palanquin', sans-serif;
    color: #debda6;
    font-size: larger;
  }

  /* Style inputs with type="text", select elements and textareas */
input[type=text], input[type=email], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #debda6;
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }

  input, textarea::placeholder{
      font-family: 'Overpass Mono', monospace;
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #d54864;
    color: #debda6;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Overpass Mono', monospace;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color:rgb(213, 72, 100, 0.5);
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }


